<h1>Timestamp Microservice</h1>
<p></p>
<h3>Enter either a natural language string date or a Unix timestamp 
after the URL</h3>
<h3>Example Usage: </h3>
<ul>
	<li>https://ali-timestamp-microservice.herokuapp.com/August%2013,%202015</li>
	<li>https://ali-timestamp-microservice.herokuapp.com/1439424000</li>
</ul>
<h3>Example Output</h3>
<ul>
	<li>{"unix": 1439424000, "natural": "August 13, 2015"}</li>
</ul>